.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}
.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.chat__headerChatname > h3 {
  display: flex;
  align-items: center;
  color: gray;
}
.chat__headerChatname > h3 > span {
  color: gray;
}

.chat__headerSearch {
  display: flex;
  align-items: center;
}
.chat__headerSearch > .MuiSvgIcon-root {
  padding: 5px;
  color: gray;
  cursor: pointer;
}
.chat__headerSearch > .MuiSvgIcon-root:hover {
  color: white;
}
.searchIcon {
  cursor: pointer;
}
.searchIcon:hover {
  color: white;
}
.chat__Search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.chat__Search > input {
  background-color: transparent;
  outline-width: 0;
  color: white;
  border: none;
}

.chat__footer {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__footer > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chatfooter__button {
  display: none;
}
.chat__footer > form {
  flex: 1;
}

.chat__footerIcons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat__body {
  flex: 1;
  overflow-y: scroll;
}

.chat__body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.chat__body::-webkit-scrollbar-track {
  background: #474b53; /* color of the tracking area */
}

.chat__body::-webkit-scrollbar-thumb {
  background-color: #363a3f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
